doctype html
html
  head
    title Loans
    |
    link(rel='stylesheet', href='static/css/style.css')
  nav
    ul
      li
        a(href='books') Books
      |
      li
        a(href='patrons') Patrons
      |
      li
        a(href='loans') Loans
  body
    h1 Loans
    |
    p
      a.button(href='loans/new_loan') Create New Loan
    |
    p
      | Filters
      a(href='loans') All
      |  |
      a(href='loans?filter=overdue') Overdue
      |  |
      a(href='loans?filter=checked_out') Checked Out
    |
    table
      thead
        tr
          th Book
          |
          th Patron
          |
          th Loaned on
          |
          th Return by
          |
          th Returned on
          |
          th Action
      |
      tbody
        each loan in loans
            tr
              td
                a(href='book_detail.html') #{loan.book.title}
              |
              td
                a(href='patron_detail.html') #{loan.patron.first_name} #{loan.patron.last_name}
              |
              td #{loan.loaned_on}
              |
              td #{loan.return_by}
              |
              td #{loan.returned_on}
              |
              td
                a.button(href='loans/return_book?id=' + loan.book.id) Return Book
            |
