doctype html
html
  head
    title New Loan
    |
    link(rel='stylesheet', href='../static/css/style.css')
  nav
    ul
      li
        a(href='../books') Books
      |
      li
        a(href='../patrons') Patrons
      |
      li
        a(href='../loans') Loans
  body
    h1 New Loan
    |
    form
      p
        label(for='book_id') Book
        select#book_id
          each book in books
            option(value=book.book_id) #{book.title}
      |
      p
        label(for='patron_id') Patron
        select#patron_id
          each patron in patrons
            option(value=patron.id) #{patron.first_name} #{patron.last_name}
      |
      p
        label(for='loaned_on') Loaned on:
        input#loaned_on(type='text', value=loaned_on)
      |
      p
        label(for='return_by') Return by:
        input#return_by(type='text', value=loaned_on)
      |
      p
        input(type='submit', value='Create New Loan')
