doctype html
html
  head
    title Return Book
    |
    link(rel='stylesheet', href='../static/css/style.css')
  nav
    ul
      li
        a(href='../books') Books
      |
      li
        a(href='../patrons') Patrons
      |
      li
        a(href='../loans') Loans
  body
    h1 Patron: Return Book
    |
    p
      strong Book Title:
      | #{loan.book.title}
    |
    p
      strong Loaned By:
      | #{loan.patron.first_name} #{loan.patron.last_name}
    |
    p
      strong Loaned On:
      | #{loan.loaned_on}
    |
    p
      strong Return By:
      | #{loan.return_by}
    |
    form
      p
        label(for='returned_on') Returned on:
        input#returned_on(type='text', value=returned_on)
      |
      p
        input(type='submit', value='Return Book')
